.loginForm {
  width: 250px;
}

.loginForm__failed-login {
  font-size: 1.2rem;
  color: #ff0000;
}

.loginForm__field {
  box-sizing: border-box;
  width: 100%;
}

.loginForm__bottom-panel {
  margin: 20px 0 0 0;
  text-align: right;
}

.loginForm__button {
  margin: 0 0 0 10px;
}
